html{
    background-color: #141414;
    font-family:  sans-serif;
}

main{
    width: 500px;
    margin: 0 auto;
}

h1{
    font-style: oblique;
    margin:auto 50;
    color: lightgray;
}

body{
    width: 99vw;
}


#unityContainer {
    padding: auto;
}

footer {
    margin: 50px;
    color:  lightgray;
    
}
